@charset "UTF-8";
/* em HTML o id = em CSS é # (só pode um elemento )
   em HTML é class = em CSS é . (pode vários elementos)  
*/

body{
    background-color: rgba(240, 240, 252, 0.911);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: red;
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: blue;
}

.basico {
    color: #3c805e;
}

.intermidiario {
    color: #80793c;
}

.avacado {
   color: #803c3c; 
}

.destaque {
    background-color: rgba(197, 197, 96, 0.438);
}