@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient( to right, #E8EDED, #A0E1EB);
}

main{
    background-color: white;
    border-radius:  20px;
    box-shadow: 5px 5px 15px rgba(21, 32, 34, 0.733);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #49676B;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

h2{
  color: #81B5BD;
}

p{
    text-align: justify;
}